#grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-row {
    border-style: solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}

.grid-square {
    border-style: solid;
    flex-basis: 100%;
}